.articleContainer {
  background-color: $white;

  article {
    margin: 0 16px;
    h1 {
      margin-bottom: 0;
    }
  }

  .article_featured_image {
    width: 100%;
  }
  .article_body img {
    width: 100%;
    height: max-content;
    object-fit: contain;
  }

  .article_lead {
    font-size: 23px;
    color: #3e3e3e;
    line-height: 30px;
  }
  .article_contributors {
    font-size: 16px;
    margin: 2% 0;
    .article_contributors_item {
      font-family: "Harriet text";
      color: $black;
    }
  }
  .article_readtime {
    font-family: "PF Text";
    color: #e1ab99;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin-top: 3%;
  }
}

.nightmode {
  background-color: $black;
  p,
  h1,
  i,
  .article_contributors > .article_contributors_item {
    color: $white;
  }
}
