.articleContainer {
  background-color: $white;

  article {
    margin: 0 16px;
  }

  .article_featured_image {
    width: 100%;
  }
  .article_body img {
    width: 100%;
    height: max-content;
    object-fit: contain;
  }

  .article_lead {
    font-size: 23px;
    color: #3e3e3e;
    line-height: 30px;
  }
  .article_contributors {
    font-size: 16px;
    span {
      font-weight: bold;
    }
  }
}
