$black: #151515;
$white: #fbfbfb;
$grey: #ddd;
$salmon: #e1ab99;
$dark-salmon: #707070;
$yellow: #ffdb5e;

.text-dark {
  color: $black !important;
}

.text-salmon {
  color: $salmon !important;
}

.text-dark-salmon {
  color: $dark-salmon !important;
}

.text-light {
  color: $white !important;
}

.text-grey {
  color: $grey !important;
}
