.article_menu_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 4% 0;
  background: $black;
  overflow: hidden;

  .menu_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .dropdown {
      position: fixed;
      top: 5%;
      left: 30%;
      background-color: $black;
      color: $white;
      padding: 0 5% 4% 5%;
      border-radius: 3px;

      div {
        display: flex;
        justify-content: space-around;
        align-items: baseline;

        .dropdown_svg:nth-child(1) {
          width: 16px;
          height: 16px;
        }
        .dropdown_svg:nth-child(2) {
          width: 20px;
          height: 20px;
        }
        .dropdown_svg:nth-child(3) {
          width: 26px;
          height: 26px;
        }
      }

      p {
        font-family: "PF Text";
        font-size: 18px;
        letter-spacing: 0.03em;
      }
    }
  }
}
