.article-preview-container {
  padding-bottom: 5%;

  h1 {
    margin-top: -32%;
  }
  section {
    position: relative;
  }
}

.article-preview-category {
  color: $salmon;
  font-family: "PF Text";
  font-size: 16px;
  line-height: normal;
}

.article-preview-image {
  width: 100%;
  position: relative;
  img {
    z-index: -10;
    width: 100%;
    height: 100%;
  }
  .overlay {
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(21, 21, 21, 0) 36.86%,
      #151515 61.59%
    );
    width: 100%;
    height: 140%;
  }
}
