@import "../../Colors.css";

.article-preview-container h1 {
  font-size: 38px;
  margin-top: -25%;
}

.article-preview-category {
  color: var(--salmon);
  font-family: 'PF Text';
}

.article-preview-image {
  width: 100vh;
  height: 100%;
  z-index:10;
}
