.small-article-preview-container {
}

.small-article-preview-category {
  color: $salmon;
  font-family: "PF Text";
  font-size: 16px;
  line-height: normal;
}

.small-article-preview-image {
  width: 50%;
  img {
    width: 100px;
    height: auto;
  }
}
