@font-face {
  font-family: "Harriet Display";
  src: url("Fonts/harriet-display-regular.otf");
}

@font-face {
  font-family: "Harriet Text";
  src: url("Fonts/harriet-text-regular.ttf");
}

@font-face {
  font-family: "PF Text";
  src: url("Fonts/pf-din-text-pro.otf");
}

@font-face {
  font-family: "PF Cond";
  src: url("Fonts/pf-din-text-cond-pro-regular.otf");
}

/* FONTS */
h1 {
  font-family: "Harriet Display";
  line-height: 46px;
  font-weight: normal;
}
p {
  font-family: "Harriet Text";
  letter-spacing: 0.01em;
  line-height: 1.4em;
}

a {
  text-decoration: none;
}
