@font-face {
  font-family: 'Harriet Display';
  src: url('./harriet-display-regular.otf');
}

@font-face {
  font-family: 'Harriet Text';
  src: url('./harriet-text-regular.ttf');
}

@font-face {
  font-family: 'PF Text';
  src: url('./pf-din-text-pro.otf');
}

@font-face {
  font-family: 'PF Cond';
  src: url('./pf-din-text-cond-pro-regular.otf');
}


/* FONTS */
h1 {
  font-size: 39px;
  font-family: 'Harriet Display';
  line-height: 46px;
}
p {
  font-size: 18px;
  font-family: 'Harriet Text';
  letter-spacing: 0.01em;
}
