main {
  
}

a {
	text-decoration: none;
	color: $salmon;
	font-family: "PF Cond";
	font-size: 18px;
	font-weight: bold;
}

p {
	font-family: "PF Text";
}

span {
	font-family: "PF Cond";
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.02em;
	line-height: normal;	

}
