.header {
  top: 0;
  overflow: hidden;
  background-color: $black;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header_filter_logo {
    max-height: 35px;
  }
}

.login_link_text {
  text-transform: uppercase;
}
