.article-preview-slider-container {
  .preview-small-image {
    width: 215px;
    height: 130px;

    border-radius: 3px;
  }
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p {
    @extend .x-small;
    font-family: "PF Cond";
  }
}

.slick-slide {
  width: 200px !important;
  margin-left: 25px;
  margin-right: 25px;
}

.preview-slider-header {
  height: 50px;
  margin-left: -16px;
  width: calc(100% + 32px);
  background-color: $black;
  display: flex;
  align-items: center;
  margin-bottom: 15px;


  h5 {
    margin: 0;
    color: $salmon;
    text-transform: uppercase;
    margin-left: 16px;
    font-weight: bold;
    letter-spacing: 5%;
  }
}
