.bottom_menu_bar {
  position: sticky;
  padding-top: 2%;
  bottom: 0;
  width: 100%;
  background: $black;
  overflow: hidden;
  .menu_items {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    div {
      display: inherit;
      flex-direction: column;

      span {
        font-family: "PF Text";
        line-height: 2;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $white;
      }
    }
  }
}
